# capybara ignores
*.stack-work/
*.cabal
.DS_Store
assets
docker
dist
dist-*
cabal-dev
*~
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
*/out/
out/
*.stack
junit.xml
TAGS
*junit.xml
.DS_Store
.#*


